.advantages-section {
  padding: 40px 0 20px;

  @media screen and (min-width: $bp-tablet) {
    background-color: var(--color-brand-normal);
    padding: 16px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 24px 40px;
    background-color: var(--color-brand-light);
    border-radius: 24px;

    @media screen and (min-width: $bp-tablet) {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      border-radius: 0;
      padding: 0;
    }
  }

  &__item {
    color: var(--color-primary-dark);
    font-size: 14px;
    font-weight: 300;

    @media screen and (min-width: $bp-tablet) {
      color: var(--color-primary-light);
      font-size: 20px;
    }
  }
}
