.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;

  &__list {
    font-size: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
  }
}
