.formats-section {
  &__title {
    margin-bottom: 24px;
    
     @media screen and (min-width: $bp-tablet) {
      margin-bottom: 80px;
    }
  }

  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }
}
